.QuizPage {
  margin-left: 100px;
  margin-top: 10px;
  margin: 10px 50px;
}

.QuizPage article {
  border-bottom: 1px solid rgb(201, 198, 198);
  margin-top: 10px;
  padding: 0.1rem 0;
  padding-bottom: 0.5rem;
}

.QuizPage article:last-of-type {
  border-bottom: none;
}
.buttons {
  border-top: 2px solid black;
  margin-top: 10px;
  text-align: center;
}

.QuizPage button {
  margin: 5px 0 10px 10px;
}

.QuizPage p {
  text-align: center;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.btn-play-again {
  background: linear-gradient(298deg, #21bb9f, #57c5bf);
}

.btn-play-again:hover {
  background: linear-gradient(298deg, #38b69f, #289c92);
}

.btn-start-page {
  background: linear-gradient(298deg, #e02b73, #ba254d);
}
.btn-start-page:hover {
  background: linear-gradient(298deg, #cd2a6b, #a41e42);
}
