.StartQuiz {
  max-width: 600px;
  margin: 4rem auto 0 auto;
  font-family: 'Poppins', sans-serif;

  color: #333;
}

.StartQuiz h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 7px;
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 0rem;
}

.StartQuiz > p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.StartQuiz form {
  margin-top: 3rem;
  border: 3px solid #4fa9c2;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.StartQuiz h2 {
  font-size: 1.2rem;
  text-align: center;
}

.StartQuiz .user-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.StartQuiz form label {
  padding-bottom: 20px;
  font-size: 0.9rem;
}

.StartQuiz input,
.StartQuiz select {
  margin-top: 5px;
  width: 90%;
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid #ababab;
}

.StartQuiz input {
  padding-left: 10px;
}
.StartQuiz select {
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8rem;
}
.StartQuiz select option {
  font-size: 0.9rem;
  font-family: inherit;
  color: #525252;
}

.alert-text {
  text-align: center;
  font-size: 0.9rem;
  background: linear-gradient(298deg, #e02b73, #ba254d);
  color: #fff;
  width: 70%;
  margin: 1rem auto;
  line-height: 2;
  border-radius: 20px;
}
